/* BALKAN PARTY CUSTOM CSS */

@import url("https://rawgit.com/Ajdin1997/Files/master/css/icons.css");

          #footer {
            background: #121212;
            border-top: 1px solid blue;
      }
            
            #room-bar .icon-room {
            background-image: url("https://www.ajdin.gq/files/theme/plugdj/room_logo.png");
            top: 11px;
            left: 7px;
      }
            
            #playlist-button {
                background: #DF013A;
          }
            
            #dj-button {
                background: #121212;
                color: #DF013A;
            
            .left {
                background: #0A0A0A;
          }
            
            #woot .bottom #woot.selected {
                background: #D02490;
          }
            
            #meh .bottom #meh.selected {
                background: #FE2E2E;
          }
            
            #room-host #room-name {
                text-transform: uppercase;
                color: yellow;
          }
            
            .app-header {
                background: #121212;
                border-bottom: 2px solid blue;
          }
            
            #history-button {
                background: #5A071C;
          }
            
            #app-menu #app-menu .list {
                background: #121212;
          }
            
            #footer-user .buttons {
                background: #05051F;
          }
            
            #playlist-menu {
                background: #0E121B;
                border-right: 1px solid blue;
          }
            
            #playlist-menu .button {
               background: #673AB7;
         }
            
            #user-menu {
               background: #121212;
                border-right: 1px solid blue;
          }
            
            #room-settings-menu {
               background: #0E121B;
               border-right: 1px solid blue;
         }
            
            #chat .emote {
                border-left: rgba(174 69 189 1) 3px solid !important;
                background-color: rgba(190 28 213 0.22) !important;
          }
            
            .message.from-3625731 .from {
                 pointer-events: none !important;
           }
             
            #chat-messages .emote .icon {
                left: 4px;
          }
            
            #chat .emote .text {
                font-style: normal;
                font-weight: bold;
                color: #ac76ff;
          }
            
             #chat .emote.from-3625731 .text {
                font-style: normal;
                font-weight: bold;
                color: #ac76ff;
          }
          #vote .crowd-response.selected {
               border-top: 5px solid #80170e;
          }
          #chat .emote{
               border-left: #FFFFFF 4px solid !important;
}
