/*

   BALKAN PARTY CUSTOM CSS
   Please do not copy or modify without
   permission.

   If you got any questions use these information:
   http://www.balkan19.ga/contact
   support@balkan19.ga

*/

#footer {
background: #121212;
border-top: 1px solid #fff;
}
#room-bar.icon-room {
background: url("https://www.ajdin.gq/files/theme/plugdj/room_logo.png") !important;
top: 11px;
left: 7px;
}
#playlist-button {
background: #DF013A;
}
#dj-button {
background: #121212;
color: #DF013A;
}
.left {
background: #0A0A0A;
}
#woot.bottom #woot.selected {
background: #D02490;
}
#meh.bottom #meh.selected {
background: #FE2E2E;
}
#room-host #room-name {
text-transform:uppercase;
color:yellow;
}
.app-header {
background: #121212 !important;
border-bottom: 2px solid #fff !important;
}
#history-button {
background: #5A071C;
}
#app-menu#app-menu.list {
background: #121212;
}
#footer-user.buttons {
background: #05051F;
}
#playlist-menu {
background: #0E121B !important;
border-right: 4px solid #fff !important;
}
#playlist-menu.button {
background: #673AB7;
}
#user-menu {
background: #121212;
border-right: 1px solid blue;
}
#room-settings-menu {
background: #0E121B;
border-right: 1px solid blue;
}
#chat.emote {
border-left: 3px solid #fff !important;
background-color: rgba(190,28,213,0.22) !important;
}
#chat.moderation #chat.moderation.from {
color: #bf0f0f !important;
}
#chat-messages.emote.icon {
left: 4px;
}
#chat.emote.text {
font-style: normal;
font-weight: bold;
color: #ac76ff; 
}
#vote.crowd-response.selected {
border-top: 5px solid #80170e;
}
#chat-input {
background: #420707;
}
#chat {
border-left: 1px solid #fff;
}

/*DAVE1.0*/
#chat [data-cid^="3625731-"].emote {
background-color: rgba(190,28,213,0.22) !important;
font-style: normal !important;
}
[data-cid^="3625731-"] span.un.clickable{
color: #FFFFFF  !important;
pointer-events: none !important;
}
