.icon { 
    background-image: url('http://i.imgur.com/EFs3g8D.png'); 
}
#footer-user .item > .icon-history-white { 
    background: url('https://i.imgur.com/EdPgEwe.png') !important; 
    top: 12px; 
}
#room-bar .icon-room { 
    background-image: url('http://i.imgur.com/3VvdxPC.png') !important;  
    top: 11px;
    left: 7px;
}
#footer-user .info .bar .progress {
    background: #EC5B5B;
    border-radius: 1px 2pc;
    box-shadow: #EC5B5B 0 0 20px;
}
#footer-user .info .meta div.bar {
    background: #555d70;
    border-radius: 1px 1pc;
}
#footer-user .info .pp {
    position: absolute;
    top: 22px;
    left: 4px;
}
.experience .xp .bar {
    border-radius: 1px 2pc;
}
.experience .xp .bar .progress {
    background: #EC5B5B;
    border-radius: 1px 2pc;
    box-shadow: #EC5B5B 0 0 20px;
}
.user-content.profile .meta.is-staff .role span {
    color: #EC5B5B;
    top: 2px;
}
#plug-menu: {
    background": rgba(40, 44, 53, 0.94) !important
}
#footer: {
   background: linear-gradient(to bottom,#180000   0,#180000  90%)
}
#playlist-button: {
   background: linear-gradient(to bottom,#FF5CDE 0,#5700FF 100%)
}
#header: {
   background: linear-gradient(to bottom,#000000 0,#000000 90%)
}
#chat: {
   background: linear-gradient(to bottom,#000000 0,#000000 90%)
}
#chat .emote.from-4573622: {
  border-left: #ac76ff 3px solid,
  background-color: rgba(24, 0, 38, 0.9) !important
}
.emote.from-4573622 .from.staff.clickable: {
  display:; none
}
.emote.from-4573622 .icon-chat-manager: {
  display: none
}
#chat .emote.from-4573622 .from: {
  color": #ac76ff !important
}
#chat .emote: {
 border-left: rgba(174, 69, 189, 1) 3px solid !important;
 background-color: rgba(190, 28, 213, 0.22) !important
}
#chat-messages .emote .icon: {
  left: 4px
}
#chat .emote .text: {
  font-style: normal;
  font-weight: bold;
  color: #ac76ff
}
#chat .emote.from-4573622 .text: {
  font-style: normal;
  font-weight: bold;
  color: #ac76ff
}
#dj-button .left {
  background: #F3B4FF;
}
#woot .bottom, #woot.selected {
    background: #DBA901;
}
#grab .bottom, #grab.selected {
    background: #DF0174;
}
#meh .bottom, #meh.selected {
    background: #088A85;
}
#dj-button.is-leave .left, #dj-button.is-quit .left {
    background: #EF2F0E;
}

/* Dave1.0 */


div[data-cid^="3625731-"] .badge-box i {
    background: url('http://i.imgur.com/wu9J5Dw.png') !important;
    width:35px !important;
    height:35px !important;
}
